.banner {
	font-size: small;
	text-align: right;
	background: #5050ab;
	color: white;
	padding: 1em;
}

.banner a {
	color: white;
}
	
.heading, .final-results {
	min-height: 80vh;
	height: 80vh;
	color: white;
	display: flex;
	background-color: #6868E1;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}


.heading > *,
.final-results > * {
	width: 50%;
	flex-grow: 1;
	padding: 4rem;
	padding-bottom: 0;
}

.heading-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 100%;
}

.heading-image {
	object-fit: cover;
	object-position: 0 0;
	min-width: 400px;
}

#testing {
	background: antiquewhite;
}

.quote {
	margin-bottom: 1rem;
	border: 2px solid #0000005c;
	border-radius: 10px;
	padding: 1rem;
	margin: .5rem;
	background: lavender;
}

.options {
	display: flex;
}

.question-section {
	flex-direction: row !important;
	flex-wrap: wrap;
}

.question-image, .question-text {
	width: 50%;
	flex-grow: 1;
	padding: 2rem;
}

.question-image {
	object-fit: contain;
	align-self: flex-start;
	min-width: 400px;
}

.card-img-top {
	aspect-ratio: 1;
	object-fit: cover;
}

.options .card {
	margin-right: 1rem;
	margin-top: 1rem;
}

.options .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.data-reveal {
	min-width: 400px;
}

.data-reveal img {
	width: 100%;
}

.results > .collapse {
	text-align: center;
	padding: 2em;
}

.awesome {
	background-color: darkseagreen;
}

.okay {
	background-color: coral;
}

.bad {
	background-color: indianred;
}

canvas {
	margin: 2em;
}